/*
KubeSphere

KubeSphere OpenAPI

API version: v3.1.0
Contact: info@kubesphere.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DevOpsCredentialAPIService DevOpsCredentialAPI service
type DevOpsCredentialAPIService service

type ApiGetProjectCredentialUsageRequest struct {
	ctx context.Context
	ApiService *DevOpsCredentialAPIService
	devops string
	credential string
}

func (r ApiGetProjectCredentialUsageRequest) Execute() (*DevopsCredential, *http.Response, error) {
	return r.ApiService.GetProjectCredentialUsageExecute(r)
}

/*
GetProjectCredentialUsage Get the specified credential usage of the DevOps project

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param devops DevOps project's ID, e.g. project-RRRRAzLBlLEm
 @param credential credential's ID, e.g. dockerhub-id
 @return ApiGetProjectCredentialUsageRequest
*/
func (a *DevOpsCredentialAPIService) GetProjectCredentialUsage(ctx context.Context, devops string, credential string) ApiGetProjectCredentialUsageRequest {
	return ApiGetProjectCredentialUsageRequest{
		ApiService: a,
		ctx: ctx,
		devops: devops,
		credential: credential,
	}
}

// Execute executes the request
//  @return DevopsCredential
func (a *DevOpsCredentialAPIService) GetProjectCredentialUsageExecute(r ApiGetProjectCredentialUsageRequest) (*DevopsCredential, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DevopsCredential
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DevOpsCredentialAPIService.GetProjectCredentialUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kapis/devops.kubesphere.io/v1alpha2/devops/{devops}/credentials/{credential}/usage"
	localVarPath = strings.Replace(localVarPath, "{"+"devops"+"}", url.PathEscape(parameterValueToString(r.devops, "devops")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"credential"+"}", url.PathEscape(parameterValueToString(r.credential, "credential")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
