/*
KubeSphere

KubeSphere OpenAPI

API version: v3.1.0
Contact: info@kubesphere.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// NodeMetricsAPIService NodeMetricsAPI service
type NodeMetricsAPIService service

type ApiHandleAllNodeMetricsQueryRequest struct {
	ctx context.Context
	ApiService *NodeMetricsAPIService
	metricsFilter *string
	resourcesFilter *string
	start *string
	end *string
	step *string
	time *string
	sortMetric *string
	sortType *string
	page *int32
	limit *int32
}

// The metric name filter consists of a regexp pattern. It specifies which metric data to return. For example, the following filter matches both node CPU usage and disk usage: &#x60;node_cpu_usage|node_disk_size_usage&#x60;. View available metrics at [kubesphere.io](https://v2-0.docs.kubesphere.io/docs/api-reference/monitoring-metrics/).
func (r ApiHandleAllNodeMetricsQueryRequest) MetricsFilter(metricsFilter string) ApiHandleAllNodeMetricsQueryRequest {
	r.metricsFilter = &metricsFilter
	return r
}

// The node filter consists of a regexp pattern. It specifies which node data to return. For example, the following filter matches both node i-caojnter and i-cmu82ogj: &#x60;i-caojnter|i-cmu82ogj&#x60;.
func (r ApiHandleAllNodeMetricsQueryRequest) ResourcesFilter(resourcesFilter string) ApiHandleAllNodeMetricsQueryRequest {
	r.resourcesFilter = &resourcesFilter
	return r
}

// Start time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1559347200. 
func (r ApiHandleAllNodeMetricsQueryRequest) Start(start string) ApiHandleAllNodeMetricsQueryRequest {
	r.start = &start
	return r
}

// End time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1561939200. 
func (r ApiHandleAllNodeMetricsQueryRequest) End(end string) ApiHandleAllNodeMetricsQueryRequest {
	r.end = &end
	return r
}

// Time interval. Retrieve metric data at a fixed interval within the time range of start and end. It requires both **start** and **end** are provided. The format is [0-9]+[smhdwy]. Defaults to 10m (i.e. 10 min).
func (r ApiHandleAllNodeMetricsQueryRequest) Step(step string) ApiHandleAllNodeMetricsQueryRequest {
	r.step = &step
	return r
}

// A timestamp in Unix time format. Retrieve metric data at a single point in time. Defaults to now. Time and the combination of start, end, step are mutually exclusive.
func (r ApiHandleAllNodeMetricsQueryRequest) Time(time string) ApiHandleAllNodeMetricsQueryRequest {
	r.time = &time
	return r
}

// Sort nodes by the specified metric. Not applicable if **start** and **end** are provided.
func (r ApiHandleAllNodeMetricsQueryRequest) SortMetric(sortMetric string) ApiHandleAllNodeMetricsQueryRequest {
	r.sortMetric = &sortMetric
	return r
}

// Sort order. One of asc, desc.
func (r ApiHandleAllNodeMetricsQueryRequest) SortType(sortType string) ApiHandleAllNodeMetricsQueryRequest {
	r.sortType = &sortType
	return r
}

// The page number. This field paginates result data of each metric, then returns a specific page. For example, setting **page** to 2 returns the second page. It only applies to sorted metric data.
func (r ApiHandleAllNodeMetricsQueryRequest) Page(page int32) ApiHandleAllNodeMetricsQueryRequest {
	r.page = &page
	return r
}

// Page size, the maximum number of results in a single page. Defaults to 5.
func (r ApiHandleAllNodeMetricsQueryRequest) Limit(limit int32) ApiHandleAllNodeMetricsQueryRequest {
	r.limit = &limit
	return r
}

func (r ApiHandleAllNodeMetricsQueryRequest) Execute() (*MonitoringMetrics, *http.Response, error) {
	return r.ApiService.HandleAllNodeMetricsQueryExecute(r)
}

/*
HandleAllNodeMetricsQuery Get node-level metric data of all nodes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHandleAllNodeMetricsQueryRequest
*/
func (a *NodeMetricsAPIService) HandleAllNodeMetricsQuery(ctx context.Context) ApiHandleAllNodeMetricsQueryRequest {
	return ApiHandleAllNodeMetricsQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MonitoringMetrics
func (a *NodeMetricsAPIService) HandleAllNodeMetricsQueryExecute(r ApiHandleAllNodeMetricsQueryRequest) (*MonitoringMetrics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonitoringMetrics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NodeMetricsAPIService.HandleAllNodeMetricsQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kapis/monitoring.kubesphere.io/v1alpha3/nodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.metricsFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics_filter", r.metricsFilter, "form", "")
	}
	if r.resourcesFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resources_filter", r.resourcesFilter, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.step != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	} else {
		var defaultValue string = "10m"
		r.step = &defaultValue
	}
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	if r.sortMetric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_metric", r.sortMetric, "form", "")
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_type", r.sortType, "form", "")
	} else {
		var defaultValue string = "desc."
		r.sortType = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 5
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleNodeMetricsQueryRequest struct {
	ctx context.Context
	ApiService *NodeMetricsAPIService
	node string
	metricsFilter *string
	start *string
	end *string
	step *string
	time *string
}

// The metric name filter consists of a regexp pattern. It specifies which metric data to return. For example, the following filter matches both node CPU usage and disk usage: &#x60;node_cpu_usage|node_disk_size_usage&#x60;. View available metrics at [kubesphere.io](https://v2-0.docs.kubesphere.io/docs/api-reference/monitoring-metrics/).
func (r ApiHandleNodeMetricsQueryRequest) MetricsFilter(metricsFilter string) ApiHandleNodeMetricsQueryRequest {
	r.metricsFilter = &metricsFilter
	return r
}

// Start time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1559347200. 
func (r ApiHandleNodeMetricsQueryRequest) Start(start string) ApiHandleNodeMetricsQueryRequest {
	r.start = &start
	return r
}

// End time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1561939200. 
func (r ApiHandleNodeMetricsQueryRequest) End(end string) ApiHandleNodeMetricsQueryRequest {
	r.end = &end
	return r
}

// Time interval. Retrieve metric data at a fixed interval within the time range of start and end. It requires both **start** and **end** are provided. The format is [0-9]+[smhdwy]. Defaults to 10m (i.e. 10 min).
func (r ApiHandleNodeMetricsQueryRequest) Step(step string) ApiHandleNodeMetricsQueryRequest {
	r.step = &step
	return r
}

// A timestamp in Unix time format. Retrieve metric data at a single point in time. Defaults to now. Time and the combination of start, end, step are mutually exclusive.
func (r ApiHandleNodeMetricsQueryRequest) Time(time string) ApiHandleNodeMetricsQueryRequest {
	r.time = &time
	return r
}

func (r ApiHandleNodeMetricsQueryRequest) Execute() (*MonitoringMetrics, *http.Response, error) {
	return r.ApiService.HandleNodeMetricsQueryExecute(r)
}

/*
HandleNodeMetricsQuery Get node-level metric data of the specific node.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param node Node name.
 @return ApiHandleNodeMetricsQueryRequest
*/
func (a *NodeMetricsAPIService) HandleNodeMetricsQuery(ctx context.Context, node string) ApiHandleNodeMetricsQueryRequest {
	return ApiHandleNodeMetricsQueryRequest{
		ApiService: a,
		ctx: ctx,
		node: node,
	}
}

// Execute executes the request
//  @return MonitoringMetrics
func (a *NodeMetricsAPIService) HandleNodeMetricsQueryExecute(r ApiHandleNodeMetricsQueryRequest) (*MonitoringMetrics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonitoringMetrics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NodeMetricsAPIService.HandleNodeMetricsQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kapis/monitoring.kubesphere.io/v1alpha3/nodes/{node}"
	localVarPath = strings.Replace(localVarPath, "{"+"node"+"}", url.PathEscape(parameterValueToString(r.node, "node")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.metricsFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics_filter", r.metricsFilter, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.step != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	} else {
		var defaultValue string = "10m"
		r.step = &defaultValue
	}
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
