/*
KubeSphere

KubeSphere OpenAPI

API version: v3.1.0
Contact: info@kubesphere.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiHandleJobReRunRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	job string
	namespace string
	resourceVersion *string
	action *string
}

// version of job, rerun when the version matches
func (r ApiHandleJobReRunRequest) ResourceVersion(resourceVersion string) ApiHandleJobReRunRequest {
	r.resourceVersion = &resourceVersion
	return r
}

// action must be \&quot;rerun\&quot;
func (r ApiHandleJobReRunRequest) Action(action string) ApiHandleJobReRunRequest {
	r.action = &action
	return r
}

func (r ApiHandleJobReRunRequest) Execute() (*ErrorsError, *http.Response, error) {
	return r.ApiService.HandleJobReRunExecute(r)
}

/*
HandleJobReRun Rerun job whether the job is complete or not

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param job job name
 @param namespace the name of the namespace where the job runs in
 @return ApiHandleJobReRunRequest

Deprecated
*/
func (a *DefaultAPIService) HandleJobReRun(ctx context.Context, job string, namespace string) ApiHandleJobReRunRequest {
	return ApiHandleJobReRunRequest{
		ApiService: a,
		ctx: ctx,
		job: job,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ErrorsError
// Deprecated
func (a *DefaultAPIService) HandleJobReRunExecute(r ApiHandleJobReRunRequest) (*ErrorsError, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ErrorsError
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.HandleJobReRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kapis/operations.kubesphere.io/v1alpha2/namespaces/{namespace}/jobs/{job}"
	localVarPath = strings.Replace(localVarPath, "{"+"job"+"}", url.PathEscape(parameterValueToString(r.job, "job")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resourceVersion == nil {
		return localVarReturnValue, nil, reportError("resourceVersion is required and must be specified")
	}

	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
