/*
KubeSphere

KubeSphere OpenAPI

API version: v3.1.0
Contact: info@kubesphere.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PVCMetricsAPIService PVCMetricsAPI service
type PVCMetricsAPIService service

type ApiHandleNamespacePVCMetricsQueryRequest struct {
	ctx context.Context
	ApiService *PVCMetricsAPIService
	namespace string
	metricsFilter *string
	resourcesFilter *string
	start *string
	end *string
	step *string
	time *string
	sortMetric *string
	sortType *string
	page *int32
	limit *int32
}

// The metric name filter consists of a regexp pattern. It specifies which metric data to return. For example, the following filter matches both PVC available and used inodes: &#x60;pvc_inodes_available|pvc_inodes_used&#x60;. View available metrics at [kubesphere.io](https://v2-0.docs.kubesphere.io/docs/api-reference/monitoring-metrics/).
func (r ApiHandleNamespacePVCMetricsQueryRequest) MetricsFilter(metricsFilter string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.metricsFilter = &metricsFilter
	return r
}

// The PVC filter consists of a regexp pattern. It specifies which PVC data to return. For example, the following filter matches any pod whose name begins with redis: &#x60;redis.*&#x60;.
func (r ApiHandleNamespacePVCMetricsQueryRequest) ResourcesFilter(resourcesFilter string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.resourcesFilter = &resourcesFilter
	return r
}

// Start time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1559347200. 
func (r ApiHandleNamespacePVCMetricsQueryRequest) Start(start string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.start = &start
	return r
}

// End time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1561939200. 
func (r ApiHandleNamespacePVCMetricsQueryRequest) End(end string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.end = &end
	return r
}

// Time interval. Retrieve metric data at a fixed interval within the time range of start and end. It requires both **start** and **end** are provided. The format is [0-9]+[smhdwy]. Defaults to 10m (i.e. 10 min).
func (r ApiHandleNamespacePVCMetricsQueryRequest) Step(step string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.step = &step
	return r
}

// A timestamp in Unix time format. Retrieve metric data at a single point in time. Defaults to now. Time and the combination of start, end, step are mutually exclusive.
func (r ApiHandleNamespacePVCMetricsQueryRequest) Time(time string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.time = &time
	return r
}

// Sort PVCs by the specified metric. Not applicable if **start** and **end** are provided.
func (r ApiHandleNamespacePVCMetricsQueryRequest) SortMetric(sortMetric string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.sortMetric = &sortMetric
	return r
}

// Sort order. One of asc, desc.
func (r ApiHandleNamespacePVCMetricsQueryRequest) SortType(sortType string) ApiHandleNamespacePVCMetricsQueryRequest {
	r.sortType = &sortType
	return r
}

// The page number. This field paginates result data of each metric, then returns a specific page. For example, setting **page** to 2 returns the second page. It only applies to sorted metric data.
func (r ApiHandleNamespacePVCMetricsQueryRequest) Page(page int32) ApiHandleNamespacePVCMetricsQueryRequest {
	r.page = &page
	return r
}

// Page size, the maximum number of results in a single page. Defaults to 5.
func (r ApiHandleNamespacePVCMetricsQueryRequest) Limit(limit int32) ApiHandleNamespacePVCMetricsQueryRequest {
	r.limit = &limit
	return r
}

func (r ApiHandleNamespacePVCMetricsQueryRequest) Execute() (*MonitoringMetrics, *http.Response, error) {
	return r.ApiService.HandleNamespacePVCMetricsQueryExecute(r)
}

/*
HandleNamespacePVCMetricsQuery Get PVC-level metric data of the specific namespace's PVCs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace The name of the namespace.
 @return ApiHandleNamespacePVCMetricsQueryRequest
*/
func (a *PVCMetricsAPIService) HandleNamespacePVCMetricsQuery(ctx context.Context, namespace string) ApiHandleNamespacePVCMetricsQueryRequest {
	return ApiHandleNamespacePVCMetricsQueryRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return MonitoringMetrics
func (a *PVCMetricsAPIService) HandleNamespacePVCMetricsQueryExecute(r ApiHandleNamespacePVCMetricsQueryRequest) (*MonitoringMetrics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonitoringMetrics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PVCMetricsAPIService.HandleNamespacePVCMetricsQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kapis/monitoring.kubesphere.io/v1alpha3/namespaces/{namespace}/persistentvolumeclaims"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.metricsFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics_filter", r.metricsFilter, "form", "")
	}
	if r.resourcesFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resources_filter", r.resourcesFilter, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.step != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	} else {
		var defaultValue string = "10m"
		r.step = &defaultValue
	}
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	if r.sortMetric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_metric", r.sortMetric, "form", "")
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_type", r.sortType, "form", "")
	} else {
		var defaultValue string = "desc."
		r.sortType = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 5
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandlePVCMetricsQueryRequest struct {
	ctx context.Context
	ApiService *PVCMetricsAPIService
	storageclass string
	metricsFilter *string
	resourcesFilter *string
	start *string
	end *string
	step *string
	time *string
	sortMetric *string
	sortType *string
	page *int32
	limit *int32
}

// The metric name filter consists of a regexp pattern. It specifies which metric data to return. For example, the following filter matches both PVC available and used inodes: &#x60;pvc_inodes_available|pvc_inodes_used&#x60;. View available metrics at [kubesphere.io](https://v2-0.docs.kubesphere.io/docs/api-reference/monitoring-metrics/).
func (r ApiHandlePVCMetricsQueryRequest) MetricsFilter(metricsFilter string) ApiHandlePVCMetricsQueryRequest {
	r.metricsFilter = &metricsFilter
	return r
}

// The PVC filter consists of a regexp pattern. It specifies which PVC data to return. For example, the following filter matches any pod whose name begins with redis: &#x60;redis.*&#x60;.
func (r ApiHandlePVCMetricsQueryRequest) ResourcesFilter(resourcesFilter string) ApiHandlePVCMetricsQueryRequest {
	r.resourcesFilter = &resourcesFilter
	return r
}

// Start time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1559347200. 
func (r ApiHandlePVCMetricsQueryRequest) Start(start string) ApiHandlePVCMetricsQueryRequest {
	r.start = &start
	return r
}

// End time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1561939200. 
func (r ApiHandlePVCMetricsQueryRequest) End(end string) ApiHandlePVCMetricsQueryRequest {
	r.end = &end
	return r
}

// Time interval. Retrieve metric data at a fixed interval within the time range of start and end. It requires both **start** and **end** are provided. The format is [0-9]+[smhdwy]. Defaults to 10m (i.e. 10 min).
func (r ApiHandlePVCMetricsQueryRequest) Step(step string) ApiHandlePVCMetricsQueryRequest {
	r.step = &step
	return r
}

// A timestamp in Unix time format. Retrieve metric data at a single point in time. Defaults to now. Time and the combination of start, end, step are mutually exclusive.
func (r ApiHandlePVCMetricsQueryRequest) Time(time string) ApiHandlePVCMetricsQueryRequest {
	r.time = &time
	return r
}

// Sort PVCs by the specified metric. Not applicable if **start** and **end** are provided.
func (r ApiHandlePVCMetricsQueryRequest) SortMetric(sortMetric string) ApiHandlePVCMetricsQueryRequest {
	r.sortMetric = &sortMetric
	return r
}

// Sort order. One of asc, desc.
func (r ApiHandlePVCMetricsQueryRequest) SortType(sortType string) ApiHandlePVCMetricsQueryRequest {
	r.sortType = &sortType
	return r
}

// The page number. This field paginates result data of each metric, then returns a specific page. For example, setting **page** to 2 returns the second page. It only applies to sorted metric data.
func (r ApiHandlePVCMetricsQueryRequest) Page(page int32) ApiHandlePVCMetricsQueryRequest {
	r.page = &page
	return r
}

// Page size, the maximum number of results in a single page. Defaults to 5.
func (r ApiHandlePVCMetricsQueryRequest) Limit(limit int32) ApiHandlePVCMetricsQueryRequest {
	r.limit = &limit
	return r
}

func (r ApiHandlePVCMetricsQueryRequest) Execute() (*MonitoringMetrics, *http.Response, error) {
	return r.ApiService.HandlePVCMetricsQueryExecute(r)
}

/*
HandlePVCMetricsQuery Get PVC-level metric data of the specific storageclass's PVCs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param storageclass The name of the storageclass.
 @return ApiHandlePVCMetricsQueryRequest
*/
func (a *PVCMetricsAPIService) HandlePVCMetricsQuery(ctx context.Context, storageclass string) ApiHandlePVCMetricsQueryRequest {
	return ApiHandlePVCMetricsQueryRequest{
		ApiService: a,
		ctx: ctx,
		storageclass: storageclass,
	}
}

// Execute executes the request
//  @return MonitoringMetrics
func (a *PVCMetricsAPIService) HandlePVCMetricsQueryExecute(r ApiHandlePVCMetricsQueryRequest) (*MonitoringMetrics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonitoringMetrics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PVCMetricsAPIService.HandlePVCMetricsQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kapis/monitoring.kubesphere.io/v1alpha3/storageclasses/{storageclass}/persistentvolumeclaims"
	localVarPath = strings.Replace(localVarPath, "{"+"storageclass"+"}", url.PathEscape(parameterValueToString(r.storageclass, "storageclass")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.metricsFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics_filter", r.metricsFilter, "form", "")
	}
	if r.resourcesFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resources_filter", r.resourcesFilter, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.step != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	} else {
		var defaultValue string = "10m"
		r.step = &defaultValue
	}
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	if r.sortMetric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_metric", r.sortMetric, "form", "")
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_type", r.sortType, "form", "")
	} else {
		var defaultValue string = "desc."
		r.sortType = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 5
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHandleSpecificPVCMetricsQueryRequest struct {
	ctx context.Context
	ApiService *PVCMetricsAPIService
	namespace string
	pvc string
	metricsFilter *string
	start *string
	end *string
	step *string
	time *string
}

// The metric name filter consists of a regexp pattern. It specifies which metric data to return. For example, the following filter matches both PVC available and used inodes: &#x60;pvc_inodes_available|pvc_inodes_used&#x60;. View available metrics at [kubesphere.io](https://v2-0.docs.kubesphere.io/docs/api-reference/monitoring-metrics/).
func (r ApiHandleSpecificPVCMetricsQueryRequest) MetricsFilter(metricsFilter string) ApiHandleSpecificPVCMetricsQueryRequest {
	r.metricsFilter = &metricsFilter
	return r
}

// Start time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1559347200. 
func (r ApiHandleSpecificPVCMetricsQueryRequest) Start(start string) ApiHandleSpecificPVCMetricsQueryRequest {
	r.start = &start
	return r
}

// End time of query. Use **start** and **end** to retrieve metric data over a time span. It is a string with Unix time format, eg. 1561939200. 
func (r ApiHandleSpecificPVCMetricsQueryRequest) End(end string) ApiHandleSpecificPVCMetricsQueryRequest {
	r.end = &end
	return r
}

// Time interval. Retrieve metric data at a fixed interval within the time range of start and end. It requires both **start** and **end** are provided. The format is [0-9]+[smhdwy]. Defaults to 10m (i.e. 10 min).
func (r ApiHandleSpecificPVCMetricsQueryRequest) Step(step string) ApiHandleSpecificPVCMetricsQueryRequest {
	r.step = &step
	return r
}

// A timestamp in Unix time format. Retrieve metric data at a single point in time. Defaults to now. Time and the combination of start, end, step are mutually exclusive.
func (r ApiHandleSpecificPVCMetricsQueryRequest) Time(time string) ApiHandleSpecificPVCMetricsQueryRequest {
	r.time = &time
	return r
}

func (r ApiHandleSpecificPVCMetricsQueryRequest) Execute() (*MonitoringMetrics, *http.Response, error) {
	return r.ApiService.HandleSpecificPVCMetricsQueryExecute(r)
}

/*
HandleSpecificPVCMetricsQuery Get PVC-level metric data of a specific PVC. Navigate to the PVC by the PVC's namespace.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace The name of the namespace.
 @param pvc PVC name.
 @return ApiHandleSpecificPVCMetricsQueryRequest
*/
func (a *PVCMetricsAPIService) HandleSpecificPVCMetricsQuery(ctx context.Context, namespace string, pvc string) ApiHandleSpecificPVCMetricsQueryRequest {
	return ApiHandleSpecificPVCMetricsQueryRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		pvc: pvc,
	}
}

// Execute executes the request
//  @return MonitoringMetrics
func (a *PVCMetricsAPIService) HandleSpecificPVCMetricsQueryExecute(r ApiHandleSpecificPVCMetricsQueryRequest) (*MonitoringMetrics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonitoringMetrics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PVCMetricsAPIService.HandleSpecificPVCMetricsQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/kapis/monitoring.kubesphere.io/v1alpha3/namespaces/{namespace}/persistentvolumeclaims/{pvc}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pvc"+"}", url.PathEscape(parameterValueToString(r.pvc, "pvc")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.metricsFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics_filter", r.metricsFilter, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.step != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	} else {
		var defaultValue string = "10m"
		r.step = &defaultValue
	}
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
